fuentes/biblioteca-plano.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="notas">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="nota">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fec_crea" type="xs:string" />
              <xs:element name="contenido" type="xs:string" />
              <xs:element name="fec_recordar" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
